<mat-card appearance="outlined">
  @if (userList.length && !isLoading) {

  <mat-card-header>
    <mat-card-title>
      <button class="mb-2" mat-button routerLink="/dashboard/add-product">
        <mat-icon>add</mat-icon>
        Add new user
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="form-group mb-0 d-flex align-items-center">
      <i class="ti ti-search"></i>
      <input type="search" class="form-control border-sm shadow-3 mb-4" placeholder="Search here..." />
    </div>

    <mat-table #table [dataSource]="userList" matSort>
      <!-- Name Column -->
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Username
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.username }} </mat-cell>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Email
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
      </ng-container>

      <!-- Price Stock -->
      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Role
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> <kbd> {{ element.role }} </kbd> </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Edit
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="editUser(element.id)" matTooltip="Click to Edit" class="iconbutton"
            color="primary">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="view">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          View
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="azure">
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </mat-card-content>
  } @else if (isLoading) {

  <div class="span12 text-center mb-2 mt-2">
    <span class="spinner-border" role="status"></span>
  </div>
  } @else {

  <p class="text-center m-2">No data</p>
  }
</mat-card>