.sidenav-container {
  height: 100vh; /* Asegura que ocupe toda la altura */
  display: flex;
}

mat-sidenav {
  
  width: 250px; /* Cambia el ancho según sea necesario */
}

mat-sidenav-content {
  width: 100%;
  background: whitesmoke;

  // padding: 20px; /* Opcional para darle un margen al contenido */
}

.content {
  margin: 20px;
}
  .txt-bold {font-weight: bold;}
.selected {background-color: #b1d5ff;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 64px; /* Asegura que la barra tenga un buen tamaño */
}