<mat-card appearance="outlined">

  <mat-card-header>
    <mat-card-title>
      <button class="mb-2" mat-button routerLink="/dashboard/add-product">
        <mat-icon>add</mat-icon>
        Add product
      </button>
    </mat-card-title>
  </mat-card-header>
  
  <mat-card-content>
    <div class="form-group mb-0 d-flex align-items-center">
      <i class="ti ti-search"></i>
      <input type="search" [(ngModel)]="search" (input)="getByName()" class="form-control border-sm shadow-3 mb-4 custom-table-input" placeholder="Search product name..." />
    </div>
    
  <!-- @if (productList.length && !isLoading) { -->

@if (productList.length && !isLoading) {

    <mat-table #table [dataSource]="productList" matSort>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Price
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> ${{ element.price }} </mat-cell>
      </ng-container>

      <!-- Price Stock -->
      <ng-container matColumnDef="stock">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Stock
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.stock }} </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Edit
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <!-- <button mat-icon-button  matTooltip="Click to Edit" class="iconbutton" 
          color="primary">
           -->
            <button mat-icon-button [matMenuTriggerFor]="menu" color="primary" matTooltip="edit/delete Item" aria-label="option button">
              <mat-icon>edit</mat-icon> 
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editProduct(element.id)">
                <mat-icon color="primary">edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item (click)="deleteProduct(element.id)">
                <mat-icon color="warn">delete_forever</mat-icon>
                <span>Delete</span>
              </button>
             
            </mat-menu>

            <!-- <mat-icon>edit</mat-icon> -->
          <!-- </button> -->
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Delete
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
} @else if (isLoading) {
  
  <div class="span12 text-center mb-2 mt-2">
    <span class="spinner-border" role="status"></span>
  </div>
} @else {
  <p class="text-center m-2">No data</p>

}

    
    
  <!-- } @else if (isLoading) { -->
  </mat-card-content>


  <!-- } @else { -->

  <!-- } -->
</mat-card>